In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r'C:\Users\DELL\Desktop\Jupyter_notebook\Assignment\Assignment\DataScienceModelTraining\Datasets\Sales_data.csv')

In [3]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

## Item_Identifier

In [5]:
df['Item_Identifier'].nunique()

1559

In [6]:
df.drop('Item_Identifier', axis=1, inplace = True)

## Item_Weight

In [7]:
df['Item_Weight'].nunique()

415

In [8]:
df['Item_Weight'].head()

0     9.30
1     5.92
2    17.50
3    19.20
4     8.93
Name: Item_Weight, dtype: float64

In [9]:
df['Item_Weight'].fillna(df['Item_Weight'].mean(), inplace =True)

In [10]:
df['Item_Weight'].isna().sum()

0

## Item_Fat_Content

In [11]:
df['Item_Fat_Content'].nunique()

5

In [12]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [13]:
df = pd.get_dummies(df, 'Item_Fat_Content')

## Item_Visibility

In [14]:
df['Item_Visibility'].dtype

dtype('float64')

In [15]:
df['Item_Visibility'].isna().sum()

0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 46 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Item_Weight                             8523 non-null   float64
 1   Item_Visibility                         8523 non-null   float64
 2   Item_MRP                                8523 non-null   float64
 3   Outlet_Establishment_Year               8523 non-null   int64
 4   Item_Outlet_Sales                       8523 non-null   float64
 5   Item_Fat_Content_LF                     8523 non-null   uint8
 6   Item_Fat_Content_Low Fat                8523 non-null   uint8
 7   Item_Fat_Content_Regular                8523 non-null   uint8
 8   Item_Fat_Content_low fat                8523 non-null   uint8
 9   Item_Fat_Content_reg                    8523 non-null   uint8
 10  Item_Fat_Content_Baking Goods           8523 non-null   uint8
 11  Item_Fat_Content_Breads                 8523 non-null   uint8
 12  Item_Fat_Content_Breakfast              8523 non-null   uint8
 13  Item_Fat_Content_Canned                 8523 non-null   uint8
 14  Item_Fat_Content_Dairy                  8523 non-null   uint8
 15  Item_Fat_Content_Frozen Foods           8523 non-null   uint8
 16  Item_Fat_Content_Fruits and Vegetables  8523 non-null   uint8
 17  Item_Fat_Content_Hard Drinks            8523 non-null   uint8
 18  Item_Fat_Content_Health and Hygiene     8523 non-null   uint8
 19  Item_Fat_Content_Household              8523 non-null   uint8
 20  Item_Fat_Content_Meat                   8523 non-null   uint8
 21  Item_Fat_Content_Others                 8523 non-null   uint8
 22  Item_Fat_Content_Seafood                8523 non-null   uint8
 23  Item_Fat_Content_Snack Foods            8523 non-null   uint8
 24  Item_Fat_Content_Soft Drinks            8523 non-null   uint8
 25  Item_Fat_Content_Starchy Foods          8523 non-null   uint8
 26  Item_Fat_Content_OUT010                 8523 non-null   uint8
 27  Item_Fat_Content_OUT013                 8523 non-null   uint8
 28  Item_Fat_Content_OUT017                 8523 non-null   uint8
 29  Item_Fat_Content_OUT018                 8523 non-null   uint8
 30  Item_Fat_Content_OUT019                 8523 non-null   uint8
 31  Item_Fat_Content_OUT027                 8523 non-null   uint8
 32  Item_Fat_Content_OUT035                 8523 non-null   uint8
 33  Item_Fat_Content_OUT045                 8523 non-null   uint8
 34  Item_Fat_Content_OUT046                 8523 non-null   uint8
 35  Item_Fat_Content_OUT049                 8523 non-null   uint8
 36  Item_Fat_Content_High                   8523 non-null   uint8
 37  Item_Fat_Content_Medium                 8523 non-null   uint8
 38  Item_Fat_Content_Small                  8523 non-null   uint8
 39  Item_Fat_Content_Tier 1                 8523 non-null   uint8
 40  Item_Fat_Content_Tier 2                 8523 non-null   uint8
 41  Item_Fat_Content_Tier 3                 8523 non-null   uint8
 42  Item_Fat_Content_Grocery Store          8523 non-null   uint8
 43  Item_Fat_Content_Supermarket Type1      8523 non-null   uint8
 44  Item_Fat_Content_Supermarket Type2      8523 non-null   uint8
 45  Item_Fat_Content_Supermarket Type3      8523 non-null   uint8
dtypes: float64(4), int64(1), uint8(41)
memory usage: 674.3 KB

## Item_MRP

In [17]:
df['Item_MRP'].nunique()

5938

In [18]:
df['Item_MRP'].isna().sum()

0

In [19]:
df['Item_MRP'].dtype

dtype('float64')

## Outlet_Establishment_Year

In [20]:
df['Outlet_Establishment_Year'].head()

0    1999
1    2009
2    1999
3    1998
4    1987
Name: Outlet_Establishment_Year, dtype: int64

In [21]:
df.drop('Outlet_Establishment_Year', axis= 1, inplace = True)

## Item_Outlet_Sales

In [22]:
df['Item_Outlet_Sales'].isna().sum()

0

In [23]:
df['Item_Outlet_Sales'].dtype

dtype('float64')

In [24]:
df.head(1)

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Fat_Content_Baking Goods,...,Item_Fat_Content_High,Item_Fat_Content_Medium,Item_Fat_Content_Small,Item_Fat_Content_Tier 1,Item_Fat_Content_Tier 2,Item_Fat_Content_Tier 3,Item_Fat_Content_Grocery Store,Item_Fat_Content_Supermarket Type1,Item_Fat_Content_Supermarket Type2,Item_Fat_Content_Supermarket Type3
0,9.3,0.016047,249.8092,3735.138,0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0

In [25]:
# model Training

In [26]:
model = LinearRegression()

In [27]:
x_train,x_test, y_train, y_test = train_test_split(df.drop('Item_Outlet_Sales',axis=1), df['Item_Outlet_Sales'], test_size=0.2, random_state=1)

In [28]:
model.fit(x_train, y_train)

LinearRegression()

In [29]:
y_pred = model.predict(x_test)

In [30]:
mes = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f''' mes--->{mes}
           mae---> {mae}
           r2 ---> {r2}''')

 mes--->1307485.0743292982
           mae---> 853.8203575238597
           r2 ---> 0.5589255525831136

In [31]:
import pickle 
import json

with open('SalesLinearRegressionModel.pkl','wb') as f:
    pickle.dump(model, f)

In [32]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
pip install numpy

Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [34]:
df

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Fat_Content_Baking Goods,...,Item_Fat_Content_High,Item_Fat_Content_Medium,Item_Fat_Content_Small,Item_Fat_Content_Tier 1,Item_Fat_Content_Tier 2,Item_Fat_Content_Tier 3,Item_Fat_Content_Grocery Store,Item_Fat_Content_Supermarket Type1,Item_Fat_Content_Supermarket Type2,Item_Fat_Content_Supermarket Type3
0,9.300,0.016047,249.8092,3735.1380,0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.920,0.019278,48.2692,443.4228,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.500,0.016760,141.6180,2097.2700,0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.200,0.000000,182.0950,732.3800,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.930,0.000000,53.8614,994.7052,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.056783,214.5218,2778.3834,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
8519,8.380,0.046982,108.1570,549.2850,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,0
8520,10.600,0.035186,85.1224,1193.1136,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8521,7.210,0.145221,103.1332,1845.5976,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
8522,14.800,0.044878,75.4670,765.6700,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0